config/secrets.yml
# spec/fixtures/
!spec/fixtures/.keep
coverage/*
!coverage/.resultset.json
# spec/fixtures/cassettes/
spec/fixtures/*.html
spec/fixtures/*.txt
lib/gemini_*
lib/genius_*
lib/lingo_beats.rb
vendor/*