== render('partials/_search_section', locals: { category: (defined?(category) ? category : nil), query: (defined?(query) ? query : nil) })
== render('partials/_songs_list', locals: { songs: (defined?(songs) ? songs : []), no_result_id: 'noResultMsg' })