body.d-flex.flex-column.align-items-center.justify-content-center.min-vh-100.bg-light.text-center
    img src="/construction.png" alt="Coming Soon" class="mb-3" style="max-width: 400px; height: auto;"
    h5.text-muted.fw-normal Under construction...Coming Soon!