---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=3&market=US&q=artist:%22Ed%20Sheeran%22&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImEwZDE2ZGI3MWM0MDlhYzU0NDI1MzE1MGFhNzc5NGFjIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=3&query=artist%3A%22Ed%20Sheeran%22&type=track&market=US","limit":3,"next":"https://api.spotify.com/v1/search?offset=3&limit=3&query=artist%3A%22Ed%20Sheeran%22&type=track&market=US","offset":0,"previous":null,"total":108,"items":[{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"}],"external_urls":{"spotify":"https://open.spotify.com/album/2omUdWl7EtzzGxU3JPFPjx"},"href":"https://api.spotify.com/v1/albums/2omUdWl7EtzzGxU3JPFPjx","id":"2omUdWl7EtzzGxU3JPFPjx","images":[{"height":720,"width":1280,"url":"https://i.scdn.co/image/ab6742d3000053b7e3f6d39c2206626654910a11"},{"height":720,"width":1280,"url":"https://i.scdn.co/image/ab6742d3000053b7e3f6d39c2206626654910a11"},{"height":360,"width":640,"url":"https://i.scdn.co/image/ab6742d3000052b7e3f6d39c2206626654910a11"}],"is_playable":true,"name":"Perfect
        (with Andrea Bocelli)","release_date":"2017-12-15","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:2omUdWl7EtzzGxU3JPFPjx"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"},{"external_urls":{"spotify":"https://open.spotify.com/artist/3EA9hVIzKfFiQI0Kikz2wo"},"href":"https://api.spotify.com/v1/artists/3EA9hVIzKfFiQI0Kikz2wo","id":"3EA9hVIzKfFiQI0Kikz2wo","name":"Andrea
        Bocelli","type":"artist","uri":"spotify:artist:3EA9hVIzKfFiQI0Kikz2wo"}],"disc_number":1,"duration_ms":334421,"explicit":false,"external_ids":{"isrc":"GB1301700803"},"external_urls":{"spotify":"https://open.spotify.com/track/6UzK1shbzXmEyOO8a8mlmD"},"href":"https://api.spotify.com/v1/tracks/6UzK1shbzXmEyOO8a8mlmD","id":"6UzK1shbzXmEyOO8a8mlmD","is_local":false,"is_playable":false,"name":"Perfect
        (with Andrea Bocelli)","popularity":19,"preview_url":null,"track_number":1,"type":"track","uri":"spotify:track:6UzK1shbzXmEyOO8a8mlmD"},{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"}],"external_urls":{"spotify":"https://open.spotify.com/album/3T4tUhGYeRNVUGevb0wThu"},"href":"https://api.spotify.com/v1/a[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=3&market=US&q=track:%22Peach%22&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImFhYjIyMGViY2JmM2QyNjhjZWI5ZmNjY2QwNGI4YTg4Ig=="'
    body:
      encoding: UTF-8
      string: '{[...]
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <SPOTIFY_BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<SPOTIFY_ACCESS_TOKEN>","token_type":"Bearer","expires_in":3600}'
  recorded_at: Wed, 15 Oct 2025 15:27:11 GMT
[...]
