---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <SPOTIFY_BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<SPOTIFY_ACCESS_TOKEN>","token_type":"Bearer","expires_in":3600}'
  recorded_at: Thu, 16 Oct 2025 12:36:19 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=3&market=US&q=artist:%22Ed%20Sheeran%22&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImFlMmUyOTFkYTBkMTZlNGQyYzU3ZjlmMjAzYzdhMWRiIg=="'
    body:
      encoding: UTF-8
      string: '{"tracks":{"href":"https://api.spotify.com/v1/search?offset=0&limit=3&query=artist%3A%22Ed%20Sheeran%22&type=track&market=US","limit":3,"next":"https://api.spotify.com/v1/search?offset=3&limit=3&query=artist%3A%22Ed%20Sheeran%22&type=track&market=US","offset":0,"previous":null,"total":101,"items":[{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"}],"external_urls":{"spotify":"https://open.spotify.com/album/3T4tUhGYeRNVUGevb0wThu"},"href":"https://api.spotify.com/v1/albums/3T4tUhGYeRNVUGevb0wThu","id":"3T4tUhGYeRNVUGevb0wThu","images":[{"height":640,"width":640,"url":"https://i.scdn.co/image/ab67616d0000b273ba5db46f4b838ef6027e6f96"},{"height":300,"width":300,"url":"https://i.scdn.co/image/ab67616d00001e02ba5db46f4b838ef6027e6f96"},{"height":64,"width":64,"url":"https://i.scdn.co/image/ab67616d00004851ba5db46f4b838ef6027e6f96"}],"is_playable":true,"name":"÷
        (Deluxe)","release_date":"2017-03-03","release_date_precision":"day","total_tracks":16,"type":"album","uri":"spotify:album:3T4tUhGYeRNVUGevb0wThu"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"}],"disc_number":1,"duration_ms":263400,"explicit":false,"external_ids":{"isrc":"GBAHS1700024"},"external_urls":{"spotify":"https://open.spotify.com/track/0tgVpDi06FyKpA1z0VMD4v"},"href":"https://api.spotify.com/v1/tracks/0tgVpDi06FyKpA1z0VMD4v","id":"0tgVpDi06FyKpA1z0VMD4v","is_local":false,"is_playable":true,"name":"Perfect","popularity":88,"preview_url":null,"track_number":5,"type":"track","uri":"spotify:track:0tgVpDi06FyKpA1z0VMD4v"},{"album":{"album_type":"album","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"}],"external_urls":{"spotify":"https://open.spotify.com/album/3T4tUhGYeRNVUGevb0wThu"},"href":"https://api.spotify.com/v1/a[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=3&market=US&q=track:%22Peach%22&type=track
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-Ijc0ODFmYzNkNDAzNjIyNjFjMGM1YTBmY2MxYzkxYzBlIg=="'
    body:
      encoding: UTF-8
      string: '{[...]
